Checks: "
  *,
  -altera-*,
  -abseil-*,
  -fuchsia-*,
  -zircon-*,
  -llvm-*,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-use-trailing-return-type
  "
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
